/library/Zend/
/data/**/*
/data/**/**/*
/data/cache/
/tests/log/
/nbproject/private/
/library/Bisna/nbproject/private/
/library/Bisna/
/library/Symfony/
/library/Doctrine/
/library/Doctrine_1/
/library/Bisna_1/
/library/Bisna_new/nbproject/private/