<phpunit bootstrap="./bootstrap.php" colors="false">
    <testsuite name="Storefront Test Suite">
        <directory>./application</directory>
        <directory>./library</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../application</directory>
            <directory suffix=".php">../library/SF</directory>
            <exclude>                
                <directory suffix=".phtml">../application/views</directory>
                <directory suffix="_10.php">../application</directory>
                <directory suffix="_1.php">../application</directory>
                <directory suffix="_10.php">../library</directory>
                <directory suffix="_1.php">../library</directory>
                <file>../application/bootstrap/Bootstrap.php</file>
                <file>../application/application.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./log/coverage" charset="UTF-8"
             yui="true" highlight="false" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
